body {
    font-family: 'Cairo', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #191a1a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
